.slider{
    margin-bottom: 20px;
}
.flex_boxes {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 0;
   
}

.flex_boxes .cat_img {
    flex: 0 1 32%;
}

.flex_boxes .cat_desc {
    flex: 0 1 68%;
    text-align: center;
    padding: 0 30px;
}
.flex_boxes .cat_desc p{
    padding-bottom: 30px;
    line-height: 1.4;
    font-size: 18px;
}

h2 {
    line-height: 1;
    margin-bottom: 15px;
}
section:nth-child(even) .cat_img {
    order:1;
}
section{
    position: relative;
    padding:30px 0;
    margin-bottom: 20px;
    background-color: #fff;
}

section:after{
    content: '';
    position: absolute;
    left: 50%;
    top: -43px;
    width: 65%;
    height: 16px;
    background: #fff;
    border-radius: 290px / 8px;
    -moz-border-radius: 290px / 8px;
    -webkit-border-radius: 290px / 8px;
    box-shadow:0 10px 17px #000000d9;
    -moz-box-shadow:0 10px 17px #000000d9;
    -webkit-box-shadow:0 10px 17px #000000d9;
    z-index: -3;
    transform: translate(-50%,-50%);
}
@media only screen and (max-width:1023px){
    .flex_boxes .cat_desc p {
        font-size: 16px;
    }
}


@media(max-width:623px){
   
    .flex_boxes .cat_desc {
        flex: 0 1 60%;
        padding: 0;
    }
    .flex_boxes .cat_img {
        flex: 0 1 40%;
    }
}