
.flex_boxes {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 0;
   
}

.flex_boxes .cat_img {
    flex: 0 1 32%;
}

.flex_boxes .cat_desc {
    flex: 0 1 68%;
    text-align: center;
    padding: 0 30px;
}
.flex_boxes .cat_desc p{
    padding-bottom: 20px;
    line-height: 1.7;
}
section:nth-child(even) .cat_img {
    order:1;
}
section{
    position: relative;
    padding:30px 0;
}

/* section:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 65%;
    height: 16px;
    background: #fff;
    border-radius: 290px / 8px;
    -moz-border-radius: 290px / 8px;
    -webkit-border-radius: 290px / 8px;
    box-shadow: 0 10px 20px #000;
    -moz-box-shadow: 0 10px 20px #000;
    -webkit-box-shadow: 0 10px 20px #000;
    z-index: -3;
    transform: translate(-50%,-50%);
} */

@media(max-width:623px){
   
    .flex_boxes .cat_desc {
        flex: 0 1 60%;
        padding: 0;
    }
    .flex_boxes .cat_img {
        flex: 0 1 40%;
    }
}